#pantalla{
    border: groove 8px rgba(255, 217, 0, 0.759);
    background: rgba(144, 238, 144, 0.733);   
}
.contHang{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hangButn,#hangButn2{
    margin: 10px;
    background-color: rgba(101, 198, 72, 0.697);
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding: 3px;
    border: solid 2px black;
}
#hangButn:hover,#hangButn2:hover{ /* Estilo que se activa al pasar el puntero sobre el boton */
    background-color: rgba(101, 198, 72, 0.276);
    font-size: 22px;
    border: groove 4px rgb(54, 158, 25);
}
