body {
    margin: 20px;
}

.calendar {
    display: grid;
    gap: 20px;
}

#calendar {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 5px;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    font-weight: bold;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day,
.month {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.highlight {
    background-color: rgba(220, 12, 12, 0.628);
}
